.THIS.ab{
    background-color: #f7f7f7; 
}

.THIS .marquee{
    width:530px;
    line-height: 50px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-animation: scroll-left 2s linear infinite;
    animation: scroll-left 20s linear infinite;
}
@keyframes scroll-left {
    10% {
        -webkit-transform: translateX(90%);
        transform: translateX(90%);
    }
    90% {
        -webkit-transform: translateX(-30%);
        transform: translateX(-30%);
    }
}
.THIS p {
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 14px;
    text-align: justify; 
    text-justify: inter-word; 
}

.THIS h3 {
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 27px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
}